<div class="row my-5">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus.</p>
    <div class="row g-3">
        <div class="col">
            <img class="img-fluid" alt="project_preview" src="https://github.com/4GeeksAcademy/exercise-collaborat0ive-html-website-TEAM2/blob/master/website/assets/img/big-project-image.png?raw=true">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col">
            <img class="img-fluid" alt="project_preview" src="https://github.com/4GeeksAcademy/exercise-collaborat0ive-html-website-TEAM2/blob/master/website/assets/img/big-project-image.png?raw=true">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col">
            <img class="img-fluid" alt="project_preview" src="https://github.com/4GeeksAcademy/exercise-collaborat0ive-html-website-TEAM2/blob/master/website/assets/img/big-project-image.png?raw=true">
            <h5 class="text-primary mt-3">Project Name</h5>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>